body {
  background-image: url("71136.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.üsttekiler {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}
.header-left {
  color: white;
  display: flex;
  padding: 10px;
  gap: 20px;
  font-size: 15px;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.Startup h2 {
  font-size: 30px;
  display: flex;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
  display: flex;
  padding: 10px;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.header-right {
  color: white;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  font-size: 15px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.header-right birincibuton {
  color: white;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  border-radius: 20px;
}
.birincibuton button {
  background-color: transparent;
  color: white;
  border-radius: 20px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container p {
  margin-bottom: 0px;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.ortadakiler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}
.ortadakiler button {
  background-color: #dc143c;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  padding: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.ortadakiler input {
  background-color: transparent;
  color: black;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.digerp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.digerp p {
  font-size: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.sosyal-medya {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.sosyal-medya button {
  border-radius: 100%;
  font-size: 16px;
  border: 0px solid transparent;
}

.T button {
  border-radius: 100%;
}

.F button {
  border-radius: 100%;
}

.G button {
  border-radius: 100%;
}

.Git button {
  border-radius: 100%;
}
.sosyal-medya img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
